#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 10;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.7);
  transform: translateY(0%);
}

@keyframes transition {
  from {transform: translateY(110%)}
  to {transform: translateY(0%)}
}

#modal-content {
  width: 540px;
  height: 630px;
  position: absolute;
  background-color:white;
  border-radius: 20px;
  transition-timing-function: ease-out;
  animation: transition 0.4s;
  margin: auto;
}