.reservation-form {
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 1px 5px 13px;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 120px; 
    height: 520px;
    width: 300px;   
}


#reservation-input {
    display: flex;
    flex-direction: row;
    /* margin-right: 10px; */
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 200;
    width: 80%;
 }


.res-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    font-size: 14px;
    width: 100%; 
}

.reservation-form-wrapper {
    /* display: flex;
    flex-flow: column wrap;
    width: 100%; */
    /* border: 1px solid lightgrey;
    margin-left: 20px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px; */
}

.reserve-button {
    height: 60px;
    color: white;
    background-image: radial-gradient(circle at center center, rgb(227, 46, 88) 27.5%, rgb(227, 28, 95) 40%);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    opacity: 0.9;
    padding: 6%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.form-input-wrapper {
    /* border: 1px solid lightgrey;
    margin-left: 20px;
    margin-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px; */
}

.form-input {
/* border: 1px solid #d3d3d3;
    border-radius: 20px;

    /* display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey; */
    border: 1px solid #727272;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 10px 20px;
}

.price {
    padding-bottom: 20px;
}

.form-input > * {
    /* width: 47%; */
  }



.check-in-date {
    /* font-weight: 700;
    font-size: 12px; */
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.reservations-index {
    display: flex;
    justify-content: space-between;

}