.reservation-form {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(104, 104, 104, 0.12) 3px 10px 10px;
    height: 300px;
    width: 300px;
    padding: 30px;
    padding-bottom: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 13px;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
    
}


.res-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    font-size: 14px;
    width: 100%;
}

 

.reserve-button {
    height: 50px;
    color: white;
    background-image: radial-gradient(circle at center center, rgb(227, 46, 88) 27.5%, rgb(227, 28, 95) 40%);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    opacity: 0.9;

    padding: 6%;
    border: none;
}

.guests {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid;
    padding: 7px 12px;
    color: gray;
    font-size: 0.75rem;
}

.date-title {
    display: flex;
    justify-content: space-between;
    
}

.form-input {
border: 1px solid #d3d3d3;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}