.reservation-form {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 1px 5px 13px;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    width: 300px;
    top: 120px; 
    height: 460px;
}

.reservation-form-wrapper {
    border: 1px solid rgb(169, 169, 169);
    border-radius: 12px;
    margin: 5px 0 15px 0;
    display: flex;
    flex-flow: column wrap;
}

 .price-calc {
    margin-top: 20px;
 }

 .total-cost {
    display: flex;
    margin-top: 40px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
}

.calculateNightlyCost {
    position: absolute;
    top: 295px;
    right: 32px;
    font-size: 16px;
    font-weight: 300;
}

.cleaning-fee {
    display: flex;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
}

.calculateCleaningFee {
    position: absolute;
    top: 333px;
    right: 32px;
    font-size: 16px;
    font-weight: 300;
}

.airbnb-service-fee {
    display: flex;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
}

.calculateAirbnbServiceFee {
    position: absolute;
    top: 373px;
    right: 32px;
    font-size: 16px;
    font-weight: 300;
}

.borderline2{ 
    margin-top: 30px;
    border-bottom: 1px solid rgb(223, 221, 240);
}

.total-before-tax {
    display: flex;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}

.calculateTotal {
    position: absolute;
    top: 448px;
    right: 32px;
    font-size: 16px;
    font-weight: 500;
}

 .rows {
    display: flex;
    height: 10%;
  } 

.res-header {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
}

.res-rating {
    display: flex;
    position: absolute;
    right: 33px;
    top: 35px;
}

.reserve-button {
    color: white;
    background-image: radial-gradient(circle at center center, rgb(227, 46, 88) 27.5%, rgb(227, 28, 95) 40%);
    text-align: center;
    border-radius: 10px;
    width: 300px;
    opacity: 0.9;
    margin-left: 1px;
    padding: 5%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.reserve-button:hover {
    background-image: radial-gradient(linear-gradient, rgb(220, 57, 95) 40%, rgb(210, 28, 89) 60%);
}

.form-input {
    display: flex;
    height: 60px;
    z-index: 5;
}   

.price {   
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

.price-night {
    margin-top: 3px;
    margin-left: 6px;
    display: flex;
    font-size: 16px;
    font-weight: 300;
}
.date-title {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50px;
    height: 30px;
}

.check-in-date {
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    right: 3px;
}

.check-out-date {
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 134px;
}

.dropdown-reservation {
    position: absolute;
    border: 1px solid rgb(221, 221, 221);
    margin-top: 3px;
    border-radius: 10px;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: column;
    width: 300px;
    height: 200px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 1px 5px 13px;
}

.guest-button {
        display:flex;
        justify-content: space-around;
        right: 10px;
}

.guests-labels {
    margin-top: 20px;
}
.guests-labels div{
    margin-top: 10px;
    margin-left: 20px;
}

.adult-button {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    bottom: 140px;
    left: 185px;
    align-items: center;
}

.adult-buttons {
    border: 1px solid;    
    border-color: rgb(176, 176, 176);
    background-color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}


.adult-buttons:hover {
    border-color: black;
}

.adult-buttons:disabled {
    border: 1px solid #dddddd;
    cursor: not-allowed;
}

.children-button {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    bottom: 100px;
    left: 185px;
    align-items: center;
}

.children-buttons {
    border: 1px solid;    
    border-color: rgb(176, 176, 176);
    background-color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.children-buttons:hover {
    border-color: black;
}

.children-buttons:disabled {
    border: 1px solid #dddddd;
    cursor: not-allowed;
}

.guest-label {
    font-weight: 500;
}

.ages {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.reservations-index:hover {
    filter: brightness(100%);
    box-shadow: #d3d3d3;
}


.index-navlink:hover {  
    background-image: radial-gradient(circle at center center, rgb(230, 30, 77) 27.5%, rgb(230, 28, 95) 80%);
}

.guests {
    width: 275px;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 14px;
    margin-bottom: 10px;
    height: 10px;
}

.num-guests {
    margin-left: 14px;
    height: 25px;
    font-size: 14px;
    font-weight: 300;
}

.guests-container {
     border-top: 1px solid rgb(173, 173, 173);
    width: 298px;
    position: relative;
    bottom: 0px;
}

.guests-container:hover {
    cursor: pointer;
}

.chevron {
    position: absolute;
    right: 20px;
    top: 20px;
}