.listing-indiv-page {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

.listing-title {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}

.listing-location {
    margin-top: 10px;
    margin-left: 10px; 
    line-height: 1.2;
}

.listing-location i {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    height: 17px;
}

.info-container {
    margin: 48px 0 48px 0;
    display: flex;
}

.listing-info {
    flex-direction: column;
    width: 100%;
    line-height: 1.25;
  }

.residence-type {
    font-size: 22px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 10px;
}

.reservation-listing-form {
    margin-right: 200px;
    margin-top: 10px;
}

.listing-bed {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 10px;
}

.borderline {
    border-bottom: 1px solid rgb(223, 221, 240);
    width: 650px;
    margin-left: 10px;
}

.borderline3 {
    border-bottom: 1px solid rgb(223, 221, 240);
    width: 1100px;
    margin-left: 10px;
}

.description {
    width: 650px;
    word-wrap: break-word;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.listing-images {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 10px;
    max-height: 400px;
    margin-right: 190px;
    margin-top: 5px;
}

.col2 {
    grid-column: span 2;
}

.row2 {
    grid-row: span 2;
}

.listing-images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    /* column-gap: 40px; */
    gap: 7px;
    /* padding: 10px 50px 30px; */
    overflow: hidden;
    border-radius: 14px;
    margin-right: 10px; 
}

.listing-images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    margin-right: 2px;
}

.requirements-margin {
    line-height: 0.1;
}

.requirements {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    height: 65px;
}

.requirement {
    margin-bottom: 40px;
    margin-left: 45px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgb(113, 113, 113);
}

.requirements i {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    height: 22px;
    margin-right: 7px;
}

.air-logo {
    color:red;
}

.aircover-logo {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.aircover-text {
    width: 650px;
    word-wrap: break-word;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 50px;
    line-height: 1.5;
}

.amenities-header {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.map-header {
    font-weight: 500;
    font-size: 22px;
    margin-left: 12px;
    margin-bottom: 50px;
}

#map-placeholder {
    margin-bottom: 100px;
}

.amenities-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 30px;
}

#amenities-icons {
    display: inline-block
}

#amenities-icon {
    display: inline-block
}

#amenities-icon img {
    display: flex;
    height: 60px;
    width: 60px;
    margin-bottom: 40px;
    vertical-align: middle;
}

#amenities-icon {
    display: flex;
    align-items: middle;
  vertical-align: middle;
}

.amenities-text {
    margin-top: 25px;
}

.amenities-wifi {
    margin-top: 20px;
}

.fa-sharp.fa-solid.fa-arrow-up-from-bracket {
    margin-left: 550px;
    margin-right: 7px;
}

.fa-sharp.fa-regular.fa-heart {
    margin-left: 7px;
    margin-right: 5px;
}

.superhost {
    font-weight: 100;
    margin-left: 5px;
    font-size: 14px;
}

.share {
    text-decoration: underline;
    font-size: 14px;
}

.save {
    text-decoration: underline;
    font-size: 14px;
}

.borderline5 {
    border-bottom: 1px solid rgb(223, 221, 240);
    width: 1090px;
    margin-top: 50px;
    margin-left: 10px;
}