.header {
    padding-left: 70px;
    padding-right: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfd7d7;
  }


.logo-icon {
    width: 10px;
    display: flex;
    align-items: center;
}

/* .open-menu {
    margin-left:7rem;

} */

.logo-image {
    width: 35px;
    display: flex;
    align-items: center;
}

.logo-text {
    color: rgb(252, 69, 69);
    font-weight: 700;
    font-size: x-large;
}

.user-pic {
    width: 30px;
    height: 20px; 
}

.menu-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1px;
}

.clickable-button {
    width: 80px;
    height: 40px;
    border: 1px solid #cec8c8;
    border-radius: 100px;
    padding: 10px;
}

/* .dropdown {
    display: flex;
    justify-content: flex;
    flex-direction: column;
} */

.dropdown-image {
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0.5px rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 30px;
    min-height: 30px;
}