/* .sticky {

} */

.header {
    position: sticky;
    display: flex;
    top: 0;
    padding-left: 70px;
    padding-right: 40px;
    height: 80px;

    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfd7d7;
    background: white;
    z-index: 10;
  }

.logo-icon {
    width: 10px;
    display: flex;
    align-items: center;
}

.menu-buttons {
    color: black;
    font-family: Arial, sans-serif;
    padding: 10px;
    z-index: 100;
}

.menu-buttons:hover {
    background-color: rgb(245, 245, 245);
}

/* .menu-buttons:hover {
    background-color: rgb(241, 241, 241);
} */

.logo-image {
    width: 35px;
    display: flex;
    align-items: center;
}

.logo-text {
    color: rgb(252, 69, 69);
    font-weight: 700;
    font-size: x-large;
}

.user-pic {
    width: 25px;
    height: 22px; 
    border-radius: 10px;
}

.menu-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1px;
}

.clickable-button {
    width: 80px;
    height: 40px;
    border: 1px solid #cec8c8;
    border-radius: 100px;
    padding: 10px;
}

.clickable-button:hover {
    box-shadow: 0px 8px 8px 0px rgba(51, 49, 49, 0.47);
  }

/* .dropdown {
    
} */

.dropdown-borderbox {
    z-index: 15;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.802); */
    box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
    position: absolute;
    border: 1px solid rgb(243, 238, 238);
    border-radius: 10px;
    height: 120px;
    width: 200px;
    right: 2%;
    margin-top: 10px;
    margin-right: 12px;
    background-color: white;

}

#logout-text {
    color: black;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
    z-index: 10;
}

#logout-text:hover{
    background-color: rgb(245, 245, 245);
}

.searchbar {
    height: 5px;
    width: 400px;
    border-radius: 30px;
    font-size: 15px;
    padding: 20px 25px;
    margin-left: 450px;
}

.linkedin-git {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: end;
    
}

.github {
    margin-left: 300px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.linkedin {
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 50px;
}


