.header {
    padding-left: 70px;
    padding-right: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfd7d7;
  }

.logo-icon {
    width: 10px;
    display: flex;
    align-items: center;
}

.menu-buttons {
    color: black;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.logo-image {
    width: 35px;
    display: flex;
    align-items: center;
}

.logo-text {
    color: rgb(252, 69, 69);
    font-weight: 700;
    font-size: x-large;
}

.user-pic {
    width: 25px;
    height: 22px; 
}

.menu-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1px;
}

.clickable-button {
    width: 80px;
    height: 40px;
    border: 1px solid #cec8c8;
    border-radius: 100px;
    padding: 10px;
}

.clickable-button:hover {
    box-shadow: 0px 8px 8px 0px rgba(51, 49, 49, 0.47);
  }

.dropdown-borderbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.802);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    border: 1px solid rgb(243, 238, 238);
    border-radius: 10px;
    height: 120px;
    width: 200px;
    right: 2%;
    margin-top: 10px;
    margin-right: 25px;
}

#logout-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
